# Required
MALWARE_BAZAAR_KEY=
OPENROUTER_API_KEY=

# Optional overrides - defaults work for most setups
REDIS_CONTAINER_NAME=astela-redis
REDIS_DOCKER_PORT=6379
CLAMD_DOCKER_PORT=3310
OPEN_SEARCH_PATH=
VENV_PYTHON=
CLAMD_EXE_PATH=
DOCKER_DESKTOP_PATH=